#how-does-it-work{
    @include shadow-secondary;

    .container{
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:    "header"
                                "carousel"
                                "step-text";

        .header{
            grid-area: header;
            text-align: center;
        }
       
        .carousel{
            grid-area: carousel;
            padding-top: 50px;
            display: flex;
            justify-content: space-between;

            .slides{
                list-style-type: none;
                display: none;
                
                @include xl{
                    display: flex;
                    justify-content: center;
                    padding: 0;
                }
                
                .slide{
                    opacity: 75%;
                    transition: 200ms opacity ease-in-out;
                    
                    &[data-active]{
                        opacity: 100%;
                    }

                    display: flex;
                    align-self: center;
                }

            }

            .carousel-btn{
                background: none;
                border: none;
            }

        }

        .step-text{
            grid-area: step-text;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;            
        }
    }
}